.customerinfo-main-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.customerinfo-cover {
    /* min-width: 100%; */
    background-image: url("../images/background-cover2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 10em;
}

.customerinfo-content {
    color: white;
    display: flex;
    background-color: #212121;
    border-radius: 1.5em;
    position: relative;
    top: -3em;
    margin-left: 10vw;
    margin-right: 10vw;
    height: 30em;

    @media (max-width:1000px) {
        height: fit-content;
        flex-direction: column;
        box-shadow: none;
        margin-left: 5vw;
        margin-right: 5vw;
    }
    @media (max-width:550px) {
        height: fit-content;
        flex-direction: column;
        box-shadow: none;
        margin: 2px;
    }

    transition: all 0.5s ease-in-out;
}

/* .customerinfo-content:hover {
    @media (min-width:1000px) {
        box-shadow: 0.5em 0.7em 5px 5px rgb(152, 152, 152);
    }
} */

.customerinfo-content-firsthalf {
    /* background-color: #363434; */
    display: flex;
    border: 0.5px solid blueviolet;
    /* background-color: #545454; */
    background-color: #141414;
    width: 30%;
    margin: 1em;
    margin-left: 3em;
    border-radius: 0.5em;
    border-top-left-radius: 1.5em;
    border-bottom-left-radius: 1.5em;
    margin-right: 0.5em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media (max-width:1000px) {
        width: auto;
        margin:0;
        margin-top: 1em;
        margin-left: 1em;
        margin-right: 1em;
        border-radius: 1.5em;
        padding-top: 3em;
        padding-bottom: 3em;
    }
    
}

.customerinfo-content-secondhalf {
    /* background-color: #363434; */
    padding: 2em;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    border: 0.5px solid blueviolet;
    /* background-color: #242323; */
    background-color: #141414;
    width: 70%;
    margin: 1em;
    margin-right: 3em;
    margin-left: 0.5em;
    border-radius: 0.5em;
    border-top-right-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
    @media (max-width:1000px) {
        flex-direction: column;
        width: auto;
        margin: 1em;
        border-radius: 1.5em;
        margin-top: 1em;
    }
}

.customerinfo-content-name{
    margin-top: 5em;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    width: 100%;
    border-top: 1px solid #7e7e7e;
    font-weight: bold;
    text-align: center;
}
.customerinfo-content-email{
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    width: 100%;
    border-top: 1px solid #7e7e7e;
    font-weight: bold;
    text-align: center;
}

.customerinfo-content-secondhalf .first{
    overflow: auto;
    width:100%;
    padding-right: 1em;
    @media (max-width:1000px) {
        width: auto;
        padding-right: 0;
    }
}

.customerinfo-content-secondhalf .first::-webkit-scrollbar{
    visibility: hidden;
}

.customerinfo-content-secondhalf .second::-webkit-scrollbar{
    visibility: hidden;
}

.customerinfo-content-secondhalf .second{
    overflow: auto;
    width: 50%;
    padding-left: 1em;
    @media (max-width:1000px) {
        height: fit-content;
        width: auto;
        padding-left: 0;
    }
}