.user-main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.user-display-container {
    display: flex;
    height: 100%;
}

.user-nav {
    padding-top: 3em;
    width: 15%;
    min-width: 200px;
    scrollbar-base-color: whitesmoke;
    overflow: auto;

    @media (max-width:768px) {
        visibility: hidden;
    }
}

.user-universal {
    width: 100%;
    background-color: black;
    color: rgb(255, 255, 255);
    border-top-left-radius: 2em;
    padding: 2em;
    overflow: auto;
    @media (max-width:600px) {
        padding:2em 0em; 
        border-radius: 0;    
    }
}


.user-nav-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 1em 0px;
    padding-left: 2em;
}

.user-buy-search {
        background-color: rgb(31, 30, 30);
        padding:1em 3em;
        margin:0.3em 3em;
        border-radius:2em;
        display:flex;
        gap:2em;
        @media (max-width:600px) {
            padding:0;     
            background-color: inherit;
            gap: 0.5em;
            margin: 0.3em 1em;
        }
}

.user-extra-info-header {
    padding: 0em 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em 3em;
    background-color: rgb(124, 169, 124);
    color: black;
    position: sticky;
    top: 0;
    border-bottom: 2px solid whitesmoke;
    @media (max-width:600px) {
        color: whitesmoke; 
    }
}